{{ define "main" }}
<article class="first-entry home-profile">
  {{ with site.Params.profileMode.imageUrl }}
  <figure class="profile-image">
    <img src="{{ . | relURL }}" alt="{{ site.Params.profileMode.imageTitle | default site.Title }}" height="{{ site.Params.profileMode.imageHeight | default 160 }}" width="{{ site.Params.profileMode.imageWidth | default 160 }}">
  </figure>
  {{ end }}
  <header class="entry-header">
    <h1>{{ site.Params.profileMode.title | default site.Title }}</h1>
  </header>
  {{ with site.Params.profileMode.subtitle }}
  <div class="entry-content">
    <p>{{ . }}</p>
  </div>
  {{ end }}
  {{ with site.Params.socialIcons }}
  {{ partial "social_icons.html" (dict "align" "center") }}
  {{ end }}
  {{ with site.Params.profileMode.buttons }}
  <div class="buttons">
    {{ range . }}
    <a class="button" href="{{ .url }}" rel="noopener">{{ .name }}</a>
    {{ end }}
  </div>
  {{ end }}
</article>

{{ with .Content }}
<article class="post-single home-sections">
  <div class="post-content">
    {{ . }}
  </div>
</article>
{{ end }}
{{ end }}
